Options -Indexes
Options +FollowSymLinks

<IfModule mod_rewrite.c>
RewriteEngine on



	RewriteRule ^$ index.html
	RewriteRule ^inicio$ index.html
	RewriteRule ^home$ index.html
	RewriteRule ^midia$ videos.html
	RewriteRule ^videos$ videos.html
	RewriteRule ^dados$ dados.html
	RewriteRule ^historia$ nossa_historia.html
	RewriteRule ^nossa_historia$ nossa_historia.html
	RewriteRule ^fechamento$ pq_fechamos.html
	RewriteRule ^pq_fechamos$ pq_fechamos.html
	RewriteRule ^fechamos$ pq_fechamos.html
	RewriteRule ^agradecimentos$ agradecimentos.html
	RewriteRule ^staff$ agradecimentos.html
	RewriteRule ^equipe$ agradecimentos.html
	RewriteRule ^agradeco_de_coracao$ agradecimentos.html
	RewriteRule ^redes$ redes.html
	RewriteRule ^contato$ redes.html
	RewriteRule ^fotos$ fotos.php
	RewriteRule ^galeria$ fotos.php
	RewriteRule ^galeria_fotos$ fotos.php
	RewriteRule ^fotos_add$ fotos_add.php
	RewriteRule ^galeria_fotos_add$ fotos_add.php
	RewriteRule ^galeria_add$ fotos_add.php
	
</IfModule>
